nav {
  z-index: 10;
}

.navbar {

  &-toggler:focus {
    box-shadow: 0 0 0 0;
  }

  &__input {
    width: 0;
    transition: all 0.5s;
    @media (min-width: 992px) {
      width: 228px;
      display: block;
      
        &:focus {
          border: 2px solid $info;
        }
    }
  }

  &__input.show {
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 50px;
    width: 90%;
    padding-left: $spacer * 2;
  }

  &-brand {
    border-right: 1px solid $info;
    
    @include pad {
      border-right: 1px solid transparent;
    }
  }

  .nav-item {
    border-left: 1px solid $info;
    
    @include pad {
      border-left: 1px solid transparent;
    }
  }

  &-collapse {
    @include pad {
      background: $secondary;
    }
  }

  .nav-border {
    @include pad {
      border-bottom: 1px solid $info;
    }
  }
}

.footer {
  &::before {
    content: '';
    width: 100%;
    height: 4px;
    margin-bottom: $spacer * 1.5;
    background: $info;
    position: absolute;
    left: 0;
    z-index: 10;
  }
}

.wallet__img {
  width: 16px;
}

.wallet__link {
  width: 100%;
  @media (min-width: 992px) {
    width: 48%;
  }
}

.walletModal {
  @media (max-width: 992px) {
    .modal-content {
      height: 100vh;
    }
  
    .modal-dialog {
      max-width: 100%;
    }
  }

}