.artist-intro {
    &__img {
        @media (min-width: 992px) {
            width: 40%;
        }
    }
}

.tab-card {
    @media (min-width: 992px) {
        height: 417px;
    }
}

.tab-imgs {

    @media (min-width: 992px) {
        position: absolute;
        bottom: 15%;
        left: 5%;
        right: 5%;
        transform: translateY(50%);
    }

    .tab-img {
        img {
            width: 100%;
            
            @media (min-width: 992px) {
                height: 270px;
            }
        }

        @media (min-width: 992px) {
            width: 25%;
        }
    }

    .tab-lg-img {
        display: none;

        @media (min-width: 992px) {
            display: block;
        }
    }
}