.font-Noto {
    font-family: "Noto Sans TC";
}

.font-Squada {
    font-family: "Squada One";
}

.font-Paytone {
    font-family: "Paytone One";
}

.btn1 {    
    border: 1px solid transparent;
    position: relative;
    text-align: center;
    padding: $spacer*2, $spacer*3;
    display: block;
    width: 132px;
    &::after {
        content: '';
        border-left: 16px solid transparent;
        border-bottom: 16px solid $danger;
        position: absolute;
        bottom: 0;
        right: 0;
    } 

    &:hover::after {
        border-bottom: 16px solid $info;
    }
}

.btn1-primary {
    background: $secondary;
    border-color: $info;

    &:hover {
        background-color: $danger;
        color: $secondary;
    }
}

.btn1-secondary {
    background: transparent;

    &:hover {
        border-color: $info;
        background-color: $danger;
        color: $secondary;
    }
}

.btn1-third {
    width: auto;
    background: transparent;
    color: $secondary;
    background-color: rgba(0, 0, 0, 0.7);

    &:hover::after {
        border-bottom: 16px solid $danger;
    }
}

.nav-tabs {
    border-color: $info;

    .nav-link.active {
        border-color: $info $info $primary;
    }
}

.top-left-triangle {
    width: 0;
    height: 0;
    border-top: 15px solid $info;
    border-left: 15px solid $info;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.top-right-triangle {
    width: 0;
    height: 0;
    border-top: 15px solid $info;
    border-left: 15px solid transparent;
    border-right: 15px solid $info;
    border-bottom: 15px solid transparent;
}

.bottom-right-triangle {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 25px solid transparent;
    // border-right: 15px solid $info;
    border-bottom: 25px solid $info;
}

.text-up {
    color: #53C139;
}

.text-down {
    color: #E6553B;
}